.swiper-button-prev,
.swiper-button-next{
        background-color: #fff;
        border: 1px solid #000;
        border-radius: 20px;
        width: 2rem !important ;
        height: 2rem !important;
        color: black !important;
    }

.swiper-button-prev:after,
.swiper-button-next:after {
        font-size: 0.7rem !important;
        font-weight: 500;
}