.login-container {
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
  }
  
  .logocontainer {
    padding: 20px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .logocontainer img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .login-container form {
    margin-bottom: 10px; 
  }


  .login-container input {
    width: 94%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container input:focus {
    border: solid 2px #03c75a;
    outline: none;
    
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background-color: #03c75a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .join{
    padding-top: 500px;
    height: 300px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }