.swiper-button-prev,
.swiper-button-next{
        background-color: #fff;
        border: 1px solid black;
        border-radius: 20px;
        width: 2rem;
        height: 2rem;
        color: black !important;
    }

.swiper-button-prev:after,
.swiper-button-next:after {
        font-size: 0.5rem ;
        font-weight: 500;
}